body{
background-color: #95a5a6;
}

#error{
border-radius: 5px 5px 5px;
background-color:#212121;
width: 550px;
height: 200px;
color: #4caf50;
position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   top:250px;
text-align: center;
box-shadow: 3px 3px 10px 5px #CDDC39;
}

h2{
color: red;
}

#error button{
height: 50px;
width: 130px;
background:#37474f;
border:0 none;
padding: 0 ;
text-align: center;
margin:20px 0px 20px ;
color: white;
}

#error button:hover {
background:#ff5722;		
}
